<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>QR Manager API</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.qrcode.js"></script>
  <script type="text/javascript" src="/javascripts/qrcode.js"></script>
</head>
<body>
  <section>
    <h1>Create QR</h1>
    <form  name="qr_form" id="qr_form">
      <fieldset>
        <legend>QR Form</legend>

        <div class="row">
        
          <div class="span5">
            <label>URL</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on" style="background-color: #04c;color: #FFF;text-shadow: 0 1px 0 rgb(0, 0, 0)">www.çr.es/</span>
                <input disabled type="text" name="id_input" id="id_input" value="<%= id %>">
              </div>
            </div>
                    
            <label>Folder</label>
            <input type="text" placeholder="Project1" name="folder_input" id="folder_input">
            <br>
            <button class="btn btn-primary" type="button">Add target</button>
          </div>

          <div class="span5">
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-success">Submit</button>
        
          </div>
          
        </div>
        <br>
        <br>
        <div class="row">
          <div class="span4">

            <fieldset>
              <legend>Target 1<button class="btn btn-danger" style="float: right" type="button"><i class="icon-trash icon-white"></i></button></legend>
              <label>Country</label>
              <select class="country">
                <option>Any</option>
                <option>Spain</option>
                <option>Mexico</option>
                <option>USA</option>
                <option>Perú</option>
                <option>Colombia</option>
                <option>Puerto Rico</option>
              </select>

              <label>Platform</label>
                <select class="platform">
                  <option>Any</option>
                  <option>Android</option>
                  <option>iPhone</option>
                  <option>iPad</option>
                  <option>Blackberry</option>
                  <option>WindowsPhone</option>
                </select>

              <label>URL</label>
              <input class="url" type="text" placeholder="http://www...">       
              
            </fieldset>

          </div>

          <div class="span4">

            <fieldset>
              <legend>Target 2<button class="btn btn-danger" style="float: right" type="button"><i class="icon-trash icon-white"></i></button></legend>
              <label>Country</label>
              <select class="country">
                <option>Any</option>
                <option>Spain</option>
                <option>Mexico</option>
                <option>USA</option>
                <option>Perú</option>
                <option>Colombia</option>
                <option>Puerto Rico</option>
              </select>

              <label>Platform</label>
                <select class="platform">
                  <option>Any</option>
                  <option>Android</option>
                  <option>iPhone</option>
                  <option>iPad</option>
                  <option>Blackberry</option>
                  <option>WindowsPhone</option>
                </select>

              <label>URL</label>
              <input class="url" type="text" placeholder="http://www...">       
              
            </fieldset>

          </div>

          <div class="span4">

            <fieldset>
              <legend>Target 3<button class="btn btn-danger" style="float: right" type="button"><i class="icon-trash icon-white"></i></button></legend>
              <label>Country</label>
              <select class="country">
                <option>Any</option>
                <option>Spain</option>
                <option>Mexico</option>
                <option>USA</option>
                <option>Perú</option>
                <option>Colombia</option>
                <option>Puerto Rico</option>
              </select>

              <label>Platform</label>
                <select class="platform">
                  <option>Any</option>
                  <option>Android</option>
                  <option>iPhone</option>
                  <option>iPad</option>
                  <option>Blackberry</option>
                  <option>WindowsPhone</option>
                </select>

              <label>URL</label>
              <input class="url" type="text" placeholder="http://www...">       
              
            </fieldset>

          </div>
        </div>
        
      </fieldset>
    </form>
  </section>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>

  $('#qr_form').submit(function() {

    var jsonRequest = {}; //declare JsonRequest
    var jsonTargets = []; //declare Targets
    var folder = $("#folder_input").val(); //declare Targets
    
    for (var i = 0; i < $('select.country').length; i++) {
      country_select = $('select.country')[i];
      platform_select = $('select.platform')[i];
      url_input = $('input.url')[i];
      country=country_select.options[country_select.selectedIndex].value;
      platform=platform_select.options[platform_select.selectedIndex].value.toLowerCase();
      url=url_input.value.toLowerCase();
      console.log(country);
      console.log(platform);
      console.log(url);
      jsonTargets.push({"country": country, "platform": platform, "url": url});
    
    };

    jsonRequest = {"_id": "12aASd13", "folder": folder,"url": "","targets":jsonTargets};

    jQuery.post("/api/qrs",jsonRequest, function(data, textStatus, jqXHR) {
      console.log("Post resposne:"); console.dir(data); console.log(textStatus); console.dir(jqXHR);
    });

    return false;
  });

/*
  jQuery.post("/api/qrssss", {
    "_id": "12aASd13",
    "folder": "Default",
    "url": "",
    "targets": [
    {
      "country": "any",
      "platform": "android",
      "url": "https://play.google.com/store/apps/details?id=com.bbva.bbvacontigo"
    },
    {
      "country": "es",
      "platform": "ipad",
      "url": "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=452988069"
    },
    {
      "country": "es",
      "platform": "ios",
      "url": "https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=325813155"
    },
    {
      "country": "es",
      "platform": "blackberry",
      "url": "http://appworld.blackberry.com/webstore/content/53268"
    },
    {
      "country": "es",
      "platform": "windowsphone",
      "url": "http://www.windowsphone.com/es-es/store/app/bbva-es/35d0835f-4cdb-df11-a844-00237de2db9e"
    },
    {
      "country": "us",
      "platform": "any",
      "url": "http://www.bbvacompass.com/"
    },
    {
      "country": "any",
      "platform": "any",
      "url": "http://www.bbvamovil.es/"
    }
    ]
  }, function(data, textStatus, jqXHR) {
    console.log("Post resposne:"); console.dir(data); console.log(textStatus); console.dir(jqXHR);
  });*/
</script>
</body>
</html>