<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>QR Manager API</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.qrcode.js"></script>
  <script type="text/javascript" src="/javascripts/qrcode.js"></script>
</head>
<body>
  <section>
    <h1>Create QR</h1>
    <form  name="qr_form" id="qr_form">
      <fieldset>
        <legend>QR Form</legend>
      <label>Country</label>
        <select name="country_select" id="country_select">
          <option>Any</option>
          <option>Spain</option>
          <option>Mexico</option>
          <option>USA</option>
          <option>Perú</option>
          <option>Colombia</option>
          <option>Puerto Rico</option>
        </select>

        <label>Platform</label>
          <select name="platform_select" id="platform_select">
            <option>Any</option>
            <option>Android</option>
            <option>iPhone</option>
            <option>iPad</option>
            <option>Blackberry</option>
            <option>WindowsPhone</option>
          </select>

        <label>URL</label>
          <input type="text" placeholder="http://www..." name="url_input" id="url_input">
<br>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Add target</button>

        <button type="submit" class="btn btn-success">Submit</button>
      </fieldset>
    </form>
  </section>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>

  $('#qr_form').submit(function() {

    var jsonRequest = {}; //declare JsonRequest
    var jsonTargets = []; //declare Targets

    for (var i = 0; i < $('#country_select').length; i++) {
      country_select = $('#country_select')[i];
      platform_select = $('#platform_select')[i];
      url_input = $('#url_input')[i];
      country=country_select.options[country_select.selectedIndex].value;
      platform=platform_select.options[platform_select.selectedIndex].value.toLowerCase();
      url=url_input.value.toLowerCase();
      console.log(country);
      console.log(platform);
      console.log(url);
      jsonTargets.push({"country": country, "platform": platform, "url": url});
    
    };

    jsonRequest = {"_id": "12aASd13", "folder": "Default","url": "","targets":jsonTargets};

    jQuery.post("/api/qrs",jsonRequest, function(data, textStatus, jqXHR) {
    console.log("Post resposne:"); console.dir(data); console.log(textStatus); console.dir(jqXHR);
  });

    return false;
  });

/*
  jQuery.post("/api/qrssss", {
    "_id": "12aASd13",
    "folder": "Default",
    "url": "",
    "targets": [
    {
      "country": "any",
      "platform": "android",
      "url": "https://play.google.com/store/apps/details?id=com.bbva.bbvacontigo"
    },
    {
      "country": "es",
      "platform": "ipad",
      "url": "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=452988069"
    },
    {
      "country": "es",
      "platform": "ios",
      "url": "https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=325813155"
    },
    {
      "country": "es",
      "platform": "blackberry",
      "url": "http://appworld.blackberry.com/webstore/content/53268"
    },
    {
      "country": "es",
      "platform": "windowsphone",
      "url": "http://www.windowsphone.com/es-es/store/app/bbva-es/35d0835f-4cdb-df11-a844-00237de2db9e"
    },
    {
      "country": "us",
      "platform": "any",
      "url": "http://www.bbvacompass.com/"
    },
    {
      "country": "any",
      "platform": "any",
      "url": "http://www.bbvamovil.es/"
    }
    ]
  }, function(data, textStatus, jqXHR) {
    console.log("Post resposne:"); console.dir(data); console.log(textStatus); console.dir(jqXHR);
  });*/
</script>
</body>
</html>