<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.qrcode.js"></script>
    <script type="text/javascript" src="/javascripts/qrcode.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <p>Lista QRs:</p>


  <table class="table"><tbody id="qrcodelist"></tbody></table>
  <script>
    
    jQuery.get("/api/qrs/", function (data, textStatus, jqXHR) {
        console.log("Get resposne:");
        console.log(data);
        //console.log(textStatus);
        //console.dir(jqXHR);

        console.log(data[0].url);

        for(var i=0;i<data.length;i++){

          var targets = "<ol>";

          for(var j=0;j<data[i].targets.length;j++){
            targets=targets+"<li>"+data[i].targets[j].country+" - "+data[i].targets[j].platform+" - "+data[i].targets[j].url+"</li>";
          }

          var targets=targets+"</ol>";

          console.log(targets);
          var listQRs = $('#qrcodelist').html();

          $('#qrcodelist').html(listQRs+'<tr><td><div id="qr'+i+'"></div></td><td>'+data[i].url+'<br>'+targets+'</td><td style="float:left"><button type="button" class="btn btn-success" style="border-bottom-left-radius: 10px;border-top-right-radius: 10px;margin: 10px;">Editar</button><button type="button" class="btn btn-danger" style="border-bottom-left-radius: 10px;border-top-right-radius: 10px;margin: 10px;">Borrar</button></td></tr>');
        
        }

        for(var i=0;i<data.length;i++){
          jQuery('#qr'+i+'').qrcode({
            width: 75,
            height: 75,
            text  : data[i].url
          });
        }


    });

  </script>
  </body>
</html>